a{
  margin: 10px;
  text-decoration: none;
  font-weight:bold;
  color:midnightblue;
  font-size:1.3em;
}
#tittle{

  display:flex;
  align-items: center;
  justify-content:center;
  background-color:rgb(231, 231, 231)

}

nav{

  display:flex;
  justify-content:space-around;
  margin-bottom:5%;


}

@media screen and (max-width: 480px) {
  #tittle {
    padding:2%;
    margin-bottom:8%;
  }
}

